.box-gestion1, .box-gestion2 {
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: -200px;
    .imagengestion{
        width: 80%;
    }
    .foto-box-gestion{
        transition: all 2s;
    }
    .foto-box-gestion:hover {
        transform: scale(1.1);
    }
}
/*Configuraciones para distintas pantallas*/
@media only screen and (max-width: 768px){
	.box-gestion1{
		display: grid;
		grid-template-rows: 400px 400px;
		grid-template-columns: 1fr ;
	}
    .box-gestion2{
		display: grid;
		grid-template-rows: 400px 400px;
		grid-template-columns: 1fr ;
	}

}