footer{
    @extend %sombreado;
	padding: 20px;
	display: grid;
	flex-wrap: wrap;
	grid-template-rows: 250px;
	grid-template-columns: 1fr 1fr 1fr;
	color: #de5b65;
    a{
        text-decoration: none;
    }
    .logoredes{
        width: 30%;
        transition: all 2s;
    }
    .logo{
        width: 30%;
        transition: all 2s;
    }
    .footer-link{
        flex-direction: column;
        align-items: initial;
        text-align: left;
        a{
            text-decoration: none;
        }     
    }
    .footer-logos{
        display: grid;
        flex-wrap: wrap;
        grid-template-rows: 150px 100px;
        grid-template-columns: 1fr;
        .footer-logos1{
            display: grid;
            flex-wrap: wrap;
            text-align: center;
            grid-template-rows: 100px;
            grid-template-columns: 1fr 1fr 1fr;
        }

    }
    .logoredes:hover{
        transform: scale(1.1);
    }
    
}